name: Nightly Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x86_64
          - os: ubuntu-24.04-arm
            platform: linux
            arch: aarch64
          - os: windows-latest
            platform: windows
            arch: x86_64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup LuaJIT
        uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "luajit-2.1.0-beta3"

      - name: Build lpm
        run: |
          cd packages/lpm
          BOOTSTRAP=1 luajit ./src/init.lua compile

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: lpm-${{ matrix.platform }}-${{ matrix.arch }}
          path: packages/lpm/lpm${{ matrix.platform == 'windows' && '.exe' || '' }}
