name: Test

on:
  push:
    branches:
      - master
    paths:
      - "packages/**"
  pull_request:
    paths:
      - "packages/**"
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
          - os: ubuntu-22.04-arm
          - os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup lpm
        uses: codebycruz/lpm@master

      - name: Run tests
        shell: bash
        run: |
          cd packages/lpm
          lpm test
